<!-- events -->
<link href="/css/events.css" rel="stylesheet"/>
<body>
  {{> header }}

  {{> nav }}

  <section class="title">
    <!-- Events Section -->
    <h2>Upcoming Events</h2>
  </section>

  <div class="univs">
    <button type="button" id="btnALL" class="btn btn-outline-dark">ALL</button>
    <button type="button" id="btnADMU" class="btn btn-outline-primary">ADMU</button>
    <button type="button" id="btnDLSU" class="btn btn-outline-success">DLSU</button>
    <button type="button" id="btnUST" class="btn btn-outline-warning">UST</button>
    <button type="button" id="btnUP" class="btn btn-outline-danger">UP</button>
    <button type="button" id="btnFEU" class="btn btn-outline-secondary">FEU</button>    
  </div>

  <div class="events">
   {{#each event_data}}
  <div class="post" id="post{{event_type}}">
    <div>
      <h3>{{event_title}}</h3>
      <p>Posted by: <a href="/profile/{{event_poster}}">{{event_poster}}</a> | Date: {{event_date}}</p>
      <p>{{event_content}}</p>
      <a href="/event/{{event_id}}" class="btn btn-primary">View Event</a>
    </div>
  </div>
{{/each}}

  </div> 
  <script src="/js/events.js"></script>
</body>
